{% load menu %}
{% load static %}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-bg">
                    <div class="row">
                        <div class="col-md-9">
                            {% show_menu 'footer-menu' %}
                        </div>
<a href="#"><i><img class='icon_logo' area-hidden="true" src="{% static 'img\vk_icon.png' %}" alt=""></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>